<div class="sp-root">
  <div class="sp-root__pages">
    <a routerLink="/authorization" routerLinkActive="sp-root__pages--active">
      Авторизация
    </a>

    <a routerLink="/registration" routerLinkActive="sp-root__pages--active">
      Регистрация
    </a>

    <a routerLink="/main" routerLinkActive="sp-root__pages--active">Главная</a>

    <a routerLink="/purpose" routerLinkActive="sp-root__pages--active">Цель</a>

    <a routerLink="/add-purpose" routerLinkActive="sp-root__pages--active">
      Добавить цель
    </a>

    <a routerLink="/statistics" routerLinkActive="sp-root__pages--active">
      Статистика
    </a>
  </div>

  <router-outlet></router-outlet>
</div>
